# Core functionality - changes here should be rare!
/src/app.py                   @yuyu-ol
/src/backend/database.py      @yuyu-ol
/src/backend/routers/auth.py  @yuyu-ol

# The frontend will need refactored soon to be more object oriented.
/src/static/   @yuyu-ol
